/* BODY */

html {
  position: relative;
  min-height: 100%;
}

body{
    text-align: center;
    background-color: #e0eff5;
    margin-bottom: 10%;
    font-family: 'Fredoka One', cursive;
}

@media screen and (max-width: 750px) {
    body {
        margin-bottom: 20%;
    }
}

h4, h3{
    color: #33658a;
}

.main{
    text-align: center;
    padding-bottom: 1%;
}

/* NAVBAR */

.navbar-inverse .navbar-brand {
    color: #f26419;
    font-size: 170%;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f26419;
    font-size: 150%;

}

.navbar-inverse{
    background-color: #33658a;
    border-color: #33658a;
}

/* HEADERS */

.title{
    font-family: 'Fredoka One', cursive;
    color: #f26419;
}

.home{
    margin-top: 15%;
    font-family: 'Fredoka One', cursive;
    color: #f26419;
    font-size: 700%;
    padding-left: 0px;
    padding-right: 0px;
}

.play{
    margin-top: 0;
}

/* BUTTONS */

.btn{
    background-color: #f26419;
    border-color: #f26419;
}

.btn:hover{
    background-color: #33658a;
    border-color: #33658a;
}

.photo{
    width:350px;
    height:470px;
    object-fit: cover;
    border-radius: 5%;
    filter: brightness(100%);
}

.photobutton{
    background: Transparent;
    border: Transparent;
    outline: none;


}

.photobutton:hover{
    filter: brightness(70%);
}

/*.photobutton:hover + .credit {
    display: block;

}*/

@media screen and (max-width: 750px) {
    .photo {
        width:200px;
        height:320px;
    }
}

.credit{
    position: relative;
    bottom: 5rem;
    width: 100%;
    height: 100%;
}


/* FOOTER */

footer{
    text-align: center;
    bottom: 0;
    width: 100%;
    left: 0;
    padding-top: 2%;
    padding-bottom: 1%;
    background: #33658a;
    position: absolute;
}

.foot{
    color: #e0eff5;
}

.mini-icon{
    color: #e0eff5;
}

.about{
    margin-left:10%;
    margin-right: 10%;
}

.contact{
    padding-left: 20%;
    padding-right: 20%;
    font-family: Roboto;
}




