{% extends 'base.html'%}}
{% block title%} Who's taller? - API {% endblock %}

{% block page_content %}
<h1 class="title">API</h1>
<div class="about">
    <div>
    <p>Our free-to-use JSON API will simply return a random entry from our database.</p>
        <div>
            <h4 class="title">How to use</h4>
        <code>GET https://whostaller.herokuapp.com/get</code>
        </div>
        <div><h4 class="title">Response example</h4>
        <code class="code">
           {
            'id':'{{ response.id }}',
            'name': {{ response.name }}',
            'bio': {{ response.bio }}',
            'height': {{ response.height }}',
            'photo': {{ response.photo }}',
            'credit': {{ response.credit }}'
            }
        </code>
        </div>
        </div>
    </div>
{% endblock %}
