{% extends 'base.html' %}

{% block page_content %}
<div class="container-fluid main">
    {% if char1:%}
    <h3 class="title play">Correct! {{char1}} is {{diff}} cm taller.</h3>
    {% else %}
    <h3 class="title">Who's taller?</h3>
    {% endif %}
    <h3>Score: {{score}}</h3>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h3 class="title">{{ character1.name }}</h3>
            <h4>{{ character1.bio }}</h4>
                <a href="{{url_for('check1')}}">
                    <img class="photo one" src="{{ character1.photo }}" alt="{{ character1.name }}"></a>
            <p class="credit">Photo: {{ character1.credit }}</p>
        </div>
        <div class="col-lg-6 col-md-6">

            <h3 class="title">{{ character2.name }}</h3>
            <h4>{{ character2.bio }}</h4>
                  <a href="{{url_for('check2')}}">
                      <img class="photo two" src="{{ character2.photo }}" alt="{{ character2.name}}"></a>
                         <p class="credit" >Photo: {{ character2.credit }}</p>
        </div>
    </div>
</div>
<script src="static/index.js" charset="utf-8"></script>

{% endblock%}
